.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.square {
  background-color: #D9D;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.board {
  background-color: #D9D9D9;
  display: inline-block;
  padding: 20px;
}

.board-square {
  display: inline-block;
}

.board-row {
  display: inline-block;
}

.new-row {
  display: block;
  width: 100%;
}

.square-inner {
  display: inline-block;
}