.app {
  text-align: center;
  background-image: url("../public/minefield.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  font-family: 'Graduate', cursive;
}

.app-header {
  background-color: #222;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding: 20px;
  color: red;
}

.app-intro {
  font-size: large;
}

.game {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.board-panel {

}

/*.bomb-counter, .lost, .win {
  display: inline-block;
}*/

.top-menu {
  display: flex;
}

.new-board {
  width: 150px;
  line-height: 50px;
  background-color: rgba(51,103,51,0.9);
  color: #CCCFCC;
  margin: 20px;
  font-family: 'Graduate', cursive;
  font-size: 12px;
}

.new-board:hover {
  background-color: red
}

.change-mode {
  width: 150px;
  line-height: 50px;
  background-color: rgba(51,103,51,0.9);
  color: #CCCFCC;
  margin: 20px;
  text-decoration: none;
  font-size: 12px;
  border-width: 2px;
  border-style: outset;
  border-color: #CCCFCC;
  border-image: initial;
  padding: 2px 0px 3px;
}

.change-mode a {
    text-decoration: none;
}

.change-mode a:visited {
    color:#CCCFCC;
}

.change-mode:hover {
  background-color: red
}

.bomb-counter {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.lost-message {
  color: red;
}

.win-message {
  color: green;
}
.square {
  background-color: #336733;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px dotted #ccc;
  font-size: 16px;
}

.square.closed {
  background-color: #9C9F9C;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.board {
  display: inline-block;
  padding: 20px;
  padding-top: 0;
}

.board-square {
  display: inline-block;
}

.board-row {
  display: inline-block;
}

.new-row {
  display: block;
  width: 100%;
}

.square-inner {
  display: inline-block;
}


.wrong-answer {
  color: red;
}

.modal {
  line-height: 36px;
  font-family: 'Josefin Sans', sans-serif;
}

.modal-buttons {
  display: flex
}